html, body {
    margin:0px;
    height:100%;
}

#article {
    position: fixed; 
    width: 103vw;
    height: 88vh;
    top: -48%;
    left: -25%;
    background-color: white;
    margin: 20px;
    overflow: scroll;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    z-index: 5;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#article-heading {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-top: 50px;
    font-family: 'Bayon';
    font-size: 45px;
    line-height: 30px;
    font-weight: 100;
    color: white;
}

#article-subheading {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    width: 70%;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 14px;
}

#author-info {
    margin-top: 0;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#authorArticle {
    margin-top: 2;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Bayon';
    color: #2E4D08;
}

#date {
    margin-top: 2;
    margin-left: 10px;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#image-info {
    margin-top: 0;
}

#image {
    margin-left: 20px;
}

#credits {
    margin: 0;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    color: white;
    float: right;
}

#body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: white;
    padding-bottom: 40px;
}

#ex-button {
    border-radius: 100px;
    color: black;
    background-color: white;
    border: 1px solid white;
    margin-right: 25px;
    margin-left: auto;
    float: right;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
}