html, body {
    margin:0px;
    height:100%;
}

#article-popup {
    position: fixed; 
    width: 50vh;
    height: 88vh;
    top: 1%;
    left: -2%;
    background-color: black;
    margin: 20px;
    overflow: scroll;
    border-radius: 10px;
}

#article-heading {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-top: 50px;
    font-family: 'Bayon';
    font-size: 35px;
    line-height: 30px;
    font-weight: 100;
    color: white;
}

#article-subheading {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 14px;
}

#author-info {
    margin-top: 0;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#authorArticle {
    margin-top: 2;
    font-size: 12px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;
}

#date {
    margin-top: 2;
    margin-left: 10px;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#image-info {
    margin-top: 0;
}

#image {
    margin-left: 20px;
}

#credits {
    margin: 0;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    color: white;
    float: right;
}

#body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: white;
    padding-bottom: 40px;
}

#ex-button-popup {
    border-radius: 100px;
    color: white;
    background-color: black;
    border: 1px solid black;
    margin-right: 20px;
    margin-left: auto;
    float: right;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
}