html, body {
    margin:0px;
    height:100%;
}

#article {
    position: fixed; 
    width: 105vw;
    height: 88vh;
    top: -50%;
    left: -40%;
    background-color: #f5f5f5;
    margin: 20px;
    overflow: scroll;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    z-index: 5;
    padding-left: 5px;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#article-heading {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    font-family: 'Bayon';
    font-size: 45px;
    line-height: 35px;
    font-weight: 100;
    color: black;
    width: 90%;
}

#article-subheading {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    width: 70%;
    color: #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 14px;
}

#author-info {
    margin-top: 0;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#authorArticle {
    margin-top: 2;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Bayon';
    color: #2E4D08;
}

#date {
    margin-top: 2;
    margin-left: 10px;
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f5f5f5;
}

#image-info {
    margin-top: 0;
}

#credits {
    margin: 0;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    color: #f5f5f5;
    padding-right: 15px;
}

#body {
    margin: 30px;
    padding-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #f5f5f5;
    padding-bottom: 100px;
    
}

#article-top-nav {
    position: fixed;
    top: -185px;
    left: -100px;
    right: 0;
    width: 115vw;
    height: 70px;
    background-color: #f5f5f5; 
}

#save-button {
    margin-right: 10px;
    float: right;
    font-size: 15px;
    margin-top: 43px;
}

#ellipses-button {
    margin-right: 35px;
    float: right;
    font-size: 14px;
    margin-top: 42px;
}

#ex-button {
    margin-left: 30px;
    float: left;
    font-size: 20px;
    margin-top: 42px;
}