.dropdown-container-2 {
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: visible;
    width: 82%;
}

#sort-by-2 {
    display: flex;
}

.dropdown-button-2 {
    background-color: #f5f5f5;
    color: black;
    border: 0.5px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 8px;
    height: 20px;
}

.dropdown-text-2 {
    flex-grow: 1; 
    font-family: 'bayon';
    font-size: 14px;
    font-weight: 200;
    text-align: left;
}

#dropdown-content-2 {
    position: absolute;
    left: 22px;
    top: 30px;
    background-color: white;
    z-index: 2;
    width: 90%;
    overflow: visible;
    height: 150px;
    overflow: scroll;
}
  
#dropdown-content-2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: 'bayon';
    font-weight: 200;
    padding-top: 3px;
    padding-bottom: 0;
    border-bottom: 1px solid #f5f5f5;
}

#dropdown-content-2 a:hover {
    background-color: #f1f1f1;
}
  
#dropdown-container-2:hover .dropdown-content {
    display: block;
}