html, body {
    margin:0px;
    background-color: white;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#user {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 35px;
    margin-top: 80px;
    margin-bottom: 2px;
    font-size: 20px;
}

#news {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 35px;
    margin-bottom: 60px;
    margin-top: 0;
    font-size: 15px;
}