#navbar {
    background-color: black;
    height: 30px;
    padding-top: 12px;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0;
}

.navButton {
    margin-right: 27px;
    margin-left: 33px;
}

.navButton4 {
    margin-right: 20px;
    margin-left: 30px;
    margin-top: -5px;
}

.bouncingButton {
    animation: bounceAnimation 1s ease-in-out;
    margin-right: 27px;
    margin-left: 33px;
}
  
@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-7px);
    }
}
  