html, body {
    margin: 0px;
    height: 100%;
}

#profile {
    width: 100vw;
    height: 100vh;
}

#profile-heading {
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 5px;
    color: black;
    font-family: 'Bayon';
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
    border-bottom: 2px solid #f5f5f5;
}

#profile-name {
    margin-top: 15px;
    margin-left: 20px;
    margin-top: 2;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0;
}

#profile-email {
    margin-top: 0;
    margin-left: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#profile-subheading {
    font-family: 'bayon';
    color: black;
    font-weight: 200;
    margin-left: 20px;
    margin-bottom: 0;
}

.profile-search-bar {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
    width: 85%;
    background-color: #eeeaea; /* Gray background color */
    padding: 0.5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  
.profile-search-bar input {
    margin-left: 5px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 10px;
  }

#nav-bar {
    margin-left: -21px;
    margin-bottom: 30px;
}

#restricted {
    display: flex;
    margin-top: -10px;
}

#add {
    font-family: "bayon";
    font-size: 14px;
    font-weight: 350;
    background-color: #f5f5f5;
    margin-left: 10px;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    width: 50px;
    border-radius: 5px;;
    margin-top: 5px;
}