#saved {
    height: 450px;
    width: 108%;
    margin-left: -16px;
    margin-top: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

#saved-heading {
    color: black;
    font-weight: 100;
    margin: 40px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 0;
    font-family: Bayon;
}

#nav-bar-style {
    margin-left: 0px;
}

#search-results {
    margin-left: -40px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 480px;
}
