.tags-container {
    max-width: 90%;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    margin-left: 20px;
}

.tag {
    display: inline-flex;
    align-items: center;
    border-radius: 0px;
    padding-right: 2px;
    padding-left: 8px;
    height: 16px;
    color: black;
    font-family: Bayon;
    font-size: 14px;
    font-weight: 100;
    border: 0.5px solid black;
    margin-bottom: 5px;
    margin-right: 5px;
}
  
button {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    font-weight: 100;
    padding-right: 8px;
}  