#trending-headline {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-bottom: 1px;
}

#trending-subheading {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-top: 0px;
}

#trending-image {
    object-fit: cover;
    width: 200px;
    height: 200px
}

#trendingArticle {
    width: 200px;
    margin-left: 10%;
}