html, body {
    margin:0px;
    height:100%;
}

#trending {
    width: 100vw;
    height:100vh;
    margin: 20px;
    margin-top: 10px;
    color: black;
}

#trending-heading {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    padding-top: 40px;
    color: black;
    font-family: 'Bayon';
    font-size: 30px;
    line-height: 30px;
    font-weight: 100;
}

.trending-search-bar {
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 7px;
    width: 71%;
    padding: 0.5px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    border: 0.5px solid black;
    height: 18px;
  }
  
.trending-search-bar input {
    margin-left: 5px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 10px;
  }

#trending-topic {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 2.5px;
    margin-bottom: 6px;
}

#trending-topic-div {
    display: flex;
    margin-left: -20px;
}

#trending-articles {
    margin-top: 0px;
    margin-left: -25px;
    height: 382px;
    margin-bottom: -60px;
    background-color: black;
}

#most-popular {
    color: #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    font-size: 20px;
    padding-top: 20px;
}

#articles-div {
    background-color: black;
    display: flex;
    width: 85%;
    overflow-x: scroll;
}

#search-component {
    display: flex;
}

#search-btn {
    font-family: "bayon";
    font-size: 14px;
    background-color: black;
    color: #f5f5f5;
    height: 20px;
    border: 0.5px solid black;
    border-radius: 0px;
    margin-left: -20px;
    padding-top: 0;
    line-height: 20px;
    text-align: center;
    margin-top: 4.8px;
}